/* BACKGROUND */


body {
	background: url('BACKGROUND URL') center center fixed;
	background-size: 100%;
	font-family: 'FONT NAME';
	color: #2e2a2b
}


/* MAIN PANEL */


/* RIGHT SIDE */
.container.main {
	background: rgba(1, 1, 1, 0.5);
	border: none;
	box-shadow: none;
	border-radius: 0px
}


